/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #320a8e;
  color: #0f0909;
}

.sidebar {
  width: 60px;
  transition: width 0.3s ease;
  overflow: hidden;
  background-color: #d9b31c;
  color: white;
  padding-top: 32px;
  position: fixed;
  height: 100vh;
}

.sidebar:hover {
  width: 200px;
}

.sidebar nav ul {
  list-style: none;
  padding-left: 0;
}

.sidebar nav ul li {
  margin: 24px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 17.6px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  white-space: nowrap;
  transition: background 0.3s ease;
}

.sidebar nav ul li a:hover, .sidebar nav ul li a.active {
  background-color: #0008ff;
}

.sidebar nav ul li a .icon {
  font-size: 24px;
  min-width: 30px;
  text-align: center;
}

.sidebar nav ul li a .label {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.sidebar:hover nav ul li a .label {
  opacity: 1;
  pointer-events: auto;
}

.content {
  margin-left: 60px;
  padding: 32px;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.sidebar:hover ~ .content {
  margin-left: 200px;
}

header h1 {
  margin-bottom: 24px;
  color: #222;
}

main section {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
  margin-bottom: 32px;
}

.anime-news ul {
  list-style: disc inside;
  color: #34495e;
}

.anime-news ul li {
  margin-bottom: 8px;
}
.QuickAccess {
  display: flex;
  gap: 16px;
  justify-content: start;
  margin-bottom: 30px;
}
button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 11.2px 19.2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 16px;
}

.btn-anime {
  background-color: #ffcc00; /* Yellow */
  color: #333;
}

.btn-anime:hover {
  background-color: #e6b800;
}

.btn-f1 {
  background-color: #ffcc00; /* Blue */
  color: #333;
}

.btn-f1:hover {
  background-color: #e6b800;
}
.btn-bjj {
  background-color: #ffcc00; /* Yellow */
  color: #333;
}

.btn-bjj:hover {
  background-color: #e6b800;
}
.btn-judo {
  background-color: #ffcc00; /* Yellow */
  color: #333;
}

.btn-judo:hover {
  background-color: #e6b800;
}
footer {
  text-align: center;
  padding: 16px;
  background-color:#d9b31c;
  color: white;
  position: fixed;
  bottom: 0;
  left: 60px;
  right: 0;
  border-top: 1px solid #d9b31c;
  transition: left 0.3s ease;
}

.sidebar:hover ~ footer {
  left: 200px;
}
